.signUpBg{
-fx-background-color: #53D7A8;
}

.username-input{
-fx-background-color: white;
-fx-background-radius: 15px;
-fx-border-color: transparent;
}

.email-input{
-fx-background-color: white;
-fx-background-radius: 15px;
-fx-border-color: transparent;
}

.password-input{
-fx-background-color: white;
-fx-background-radius: 15px;
-fx-border-color: transparent;
}

.signUpBtn{
-fx-background-color: #332FEC;
-fx-background-radius: 20px;
}

.close-Btn{
-fx-background-color: transparent;
}

/*.close-Btn:hover{
-fx-background-color: #53D2F3;
}*/


