.signUpBg{
-fx-background-color: #53D7A8;
}

.input{
-fx-background-color: white;
-fx-background-radius: 15px;
-fx-border-color: transparent;
}

.signUpBtn{
-fx-background-color: #332FEC;
-fx-background-radius: 20px;
}

.close-Btn{
-fx-background-color: transparent;
}

.login-link{
-fx-text-fill: white;
-fx-font-weight: Bold;
}

.sidebar{
-fx-background-color: #53D7A8;
}

.sidebar-Btn{
-fx-background-color:transparent;
-fx-font-family: 'Arial';
-fx-font-size: 11px;
-fx-text-fill: black;
/*-fx-font-weight: semi-bold;*/
}

.sidebar-Btn:hover{
-fx-text-fill: white;
-fx-background-color: transparent;
-fx-font-size: 13px;
-fx-cursor: hand;
}

.searchInternBtn{
-fx-background-color: #6C69F0;
-fx-background-radius: 15px;
-fx-font-size: 12px;
}

.searchInternBtn:hover{
-fx-background-color: #6C69F9;
-fx-cursor: hand;
}

.featured-card{
-fx-background-color: #53D7A8;
-fx-background-radius: 15px;
}

.featured-card:hover{
-fx-border-color: #6C69F0;
-fx-border-radius: 15px;
}

.featured-card-details{
-fx-text-fill: white;
}

/*.signUpImg{
-fx-opacity: 0.6;
}*/

.searchBar{
-fx-background-radius: 12px;
-fx-border-radius: 12px;
-fx-border-color: #53D7A8;
-fx-background-color: transparent;
}

.filterBtn{
-fx-background-color: transparent;
-fx-text-fill: white;
-fx-background-radius: 12px;
}

.filterBar{
-fx-background-color: #53D7A8;
-fx-background-radius: 12px;
}

.searchBtn{
-fx-background-color: transparent;
}

.datePicker{
-fx-background-radius: 30 10 10 30;
-fx-background-insets: 0;
-fx-border-radius: transparent;
}